body {

    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(142.15deg, #FFFFFF 49.5%, #F21B3F 159.81%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #F21B3F;
}

.left-login-image{
    width: 400px;
}
.right-login{
    width: 70vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    border: 1px solid #F21B3F;
    background: white;
}

.card-login > h1 {
    color: #F21B3F;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;

    color: #F21B3F;
    font-size: 12pt;
    outline: 3px;
    box-sizing: border-box;
    border: 1px solid #F21B3F;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input ::placeholder{
 color: #F4F4F4;   
 
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
    margin-top: 4px;
}
.btn > input{
    margin-top: 12px;
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    letter-spacing: 3px;
    color: #F4F4F4;
    background: #F21B3F;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #F21B3F;
 
}

#btnCads{
    border: 1px solid #F21B3F;
    background-color: white;
    color: #F21B3F;
    box-shadow: 0px 8px 21px rgba(242, 27, 63, 0.15);
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 70%;
    }
    .card-login{
        width: 60%;
    }
}
